shamefully-hoist=true
strict-peer-dependencies=false
sass_binary_site=https://npmmirror.com/mirrors/node-sass/
phantomjs_cdnurl=https://npmmirror.com/mirrors/phantomjs/
electron_mirror=https://npmmirror.com/mirrors/electron/
chromedriver_cdnurl=http://npmmirror.com/mirrors/chromedriver
registry=https://registry.npmmirror.com